# faster builds
git:
  depth: false
  submodules: false
sudo: false
dist: focal
language: java
jdk:
  - openjdk11
  - openjdk-ea
matrix:
  allow_failures:
    - jdk: openjdk-ea
before_install:
  - echo "MAVEN_OPTS='-Xmx2g'" > ~/.mavenrc
# addons:
#   sonarcloud:
#     organization: "magefree"
#     token:
#       secure: SONAR_TOKEN
# script:
#    - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
